<nav class="navbar">
  <div class="ui-g-1 d-flex h-100 p-0">
    <a class="navbar-brand d-flex justify-content-center align-items-center" href="/">Recipe Book</a>
  </div>
  <div class="navbar-collapse h-100">
    <ul class="navbar-nav mr-auto">
      <a class="nav-link d-flex justify-content-center align-items-center" routerLink="/recipes" routerLinkActive="active">
        <li class="nav-item">Recipe</li>
      </a>
      <a class="nav-link d-flex justify-content-center align-items-center" routerLink="/shopping-list" routerLinkActive="active">
        <li class="nav-item">Shopping list</li>
      </a>
    </ul>
  </div>
  <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
</nav>