.navbar {
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: azure;
  padding: 0 2rem;
}

.navbar-brand {
  background-color: rgb(154, 184, 218);
  width: 100%;
}

a.navbar-brand {
  color: #fff;
}

.navbar-collapse {
  width: 100%;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  height: 100%;
}

.mr-auto {
  margin-right: auto;
}

li {
  background-color: whitesmoke;
  width: 100px;
  text-align: center;
}

.nav-item:hover {
  background-color: rgb(129, 144, 161);
}