<div class="row">
  <div class="col-md-4">
    <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-fluid">
  </div>
  <div class="col-md-8">
    <h3>{{recipe.name}}</h3>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Recipe Manager
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" appDropdown>
          <a class="dropdown-item" href="#">Dropdown link</a>
          <a class="dropdown-item" href="#">Dropdown link</a>
        </div>
      </div>
    </div>
    <div class="descirption-text">
      {{recipe.description}}
    </div>
    <div class="ingredients-text">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}} {{ingredient.amount}}</li>
      </ul>
    </div>
  </div>
</div>